body{
    margin: 0em;
}
.cover{
    height: 400px;
    background-image: url("1_.jpg");
    background-color: lightslategray;
    color: white;
    background-size: cover;
    background-position: center;
    background-color: rgb(0,0,0,0.5);
    background-blend-mode: darken;
}

.cover-small {
    height: 200px;
    background-blend-mode: normal;

}

.card-title {
    font-family: 'dancing script',cursive;
    min-height: 3rem;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
}
#img4 {
    max-width: 100%;
    height: auto;
}
.product-stripe{
    overflow-x: scroll;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.stripe-container{
    display: flex;
}
.stripe-container .card {
    width: 300px;
    flex-shrink: 0;
    margin-right: 1rem;
}
}